.LeftPanelWrapper {
    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.TopSectionHeading {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #F5F5F5;
}

.TopSectionHeading h4 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #000000;
    text-transform: capitalize;
}

.TopSectionHeading h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    color: #3884F7;
    text-transform: uppercase;
}

.priceSection {
    padding: 15px 10px;
    border-bottom: 1px solid #F5F5F5;
}

.priceSection h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
    text-transform: capitalize;
    border-bottom: 1px solid #E0E0E1;
    padding-bottom: 20px;
}

.RangeSliderWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.minMaxPriceWrap p{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    border: none;
    line-height: 5px;
}
.minMaxPriceWrap h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    border: none;   
    line-height: 10px; 
}

.classSection {
    padding: 15px 10px;
    border-bottom: 1px solid #F5F5F5;
}

.classSection h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
    text-transform: capitalize;
    border-bottom: 1px solid #E0E0E1;
    padding-bottom: 20px;
}

.CheckBoxWrapper {
    padding: 15px 5px 20px 5px;
}

.classCheckBoxes {
    display: flex;
    align-items: center;
    padding: 3px 0px;
}

.classCheckBoxes input {
    width: 18px;
    height: 18px;
}

.classCheckBoxes label {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    padding: 2px 10px;
}

.scheduleSection {
    padding: 15px 10px;
}

.scheduleSection h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
    text-transform: capitalize;
    border-bottom: 1px solid #E0E0E1;
    padding-bottom: 20px;
}

.ScheduleListWrapper{
    padding: 15px 5px 20px 5px;
}

.ScheduleListWrapper p {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #4C4C4C;
}

.ScheduleCheckBoxes {
    display: flex;
    align-items: center;
    padding: 2px 0px;
}

.ScheduleCheckBoxes input {
    width: 24px;
    height: 24px;
    background-color: #C4C4C4;
    /* opacity: 0.5; */
}

.ScheduleCheckBoxes label {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000000;    
    padding: 2px 10px;
}